@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 100px auto;
}

header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  position: sticky;
  top: 0;
}

.logo img {
  height: 36px;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 24px;
}

nav a {
  color: #575757;
  text-decoration: none;
}

.primary-btn {
  color: white;
  background-color: #1d4ed8;
  padding: 16px 32px;
  border: none;
  border-radius: 10px;
}

.primary-btn a {
  text-decoration: none;
  color: white;
}

.hero-section {
  background-size: cover;
  color: white;
  height: 95vh;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/img/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.hero-elements {
  text-align: center;
}

.speaker-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

section h1 {
    text-align: center;
}

.speaker-cards .card {
    border: 1px solid #E5E7EB;
    border-radius: 12px;

}

.speaker-cards p, .speaker-cards h3 {
    padding: 8px 24px;
}

.card img {
    width: 100%;
    overflow: hidden;
}

.speaker-speciality {
    color: #2563EB;
    font-weight: bold;
}

.speaker-name {
    color: #0D1B2A;
}

.speaker-info {
    color: #575757;
}

.pricing-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
}

.sub-heading {
  text-align: center;
  color: #575757;
}

.pricing-cards .plan-name {
  color: #888888;
}

.pricing-cards .plan-price {
  font-size: 48px;
  color: #0D1B2A;
  font-weight: bold;
}